<div id="side-container">
    <div class="summary">
        <img src="/images/me.png" width="250" height="250" id="me">
        <h1>{{title}}</h1>
        <p style="text-align: center">Musician, Writer, Computer Scientist</p>
    </div>

    <nav class="side-menu">
        <ul style="list-style: none">
            <li><a class="tag" id="aboutMe" href="/">About Me</a></li>
            <li><a class="tag" id="aboutSite" href="/aboutsite">About This Site</a></li>
            <li><a class="tag" id="exper" href="/experience">Experience</a></li>
            <li><a class="tag" id="skills" href="/skills">My Skills</a></li>
            <li><a class="tag" id="folio" href="/writing">Writing Portfolio</a></li>
            <li><a class="tag" id="music" href="/music">Music</a></li>
            <li><a class="tag" id="contact" href="/contact">Contact Me</a></li>
        </ul>
    </nav>
    </nav>
</div>

<div id="masthead">
    <h2 style="text-align: center">Full Stack Web Developer; Game Developer and Designer; Writer and Musician</h2>
    <div class="sub-heading">
        <a href="https://www.github.com/nichow"><img id="git" src="/images/Github.svg" width="32" height="32"></a>
        <a href="https://www.linkedin.com/in/nicolas-garcia-4b0541140/"><img id="linked" src="/images/Linkedin.svg" width="32" height="32"></a>
        <a href="https://www.facebook.com/nichoww"><img id="facebook" src="/images/facebook.svg" width="32" height="32"></a>
        <a href="https://www.twitter.com/nich0w"><img id="twitter" src="/images/twitter.svg" width="32" height="32"></a>
        <a href="https://www.instagram.com/nichowisdead"><img id="insta" src="/images/instagram.svg" width="32" height="32"></a>
    </div>
</div>

<div id="main-container">
    <h1>If you would like to contact me for any reason, feel free to get in touch with me on social media or alternatively shoot me an
        <a href="mailto:nichowe.garcia@gmail.com" style="font-size: 32px">e-mail</a>.
    </h1>
</div>