<div id="side-container">
    <div class="summary">
        <img src="/images/me.png" width="250" height="250" id="me">
        <h1>{{title}}</h1>
        <p style="text-align: center">Musician, Writer, Computer Scientist</p>
    </div>

    <nav class="side-menu">
        <ul style="list-style: none">
            <li><a class="tag" id="aboutMe" href="/">About Me</a></li>
            <li><a class="tag" id="aboutSite" href="/aboutsite">About This Site</a></li>
            <li><a class="tag" id="exper" href="/experience">Experience</a></li>
            <li><a class="tag" id="skills" href="/skills">My Skills</a></li>
            <li><a class="tag" id="folio" href="/writing">Writing Portfolio</a></li>
            <li><a class="tag" id="music" href="/music">Music</a></li>
            <li><a class="tag" id="contact" href="/contact">Contact Me</a></li>
        </ul>
    </nav>
    </nav>
</div>

<div id="masthead">
    <h2 style="text-align: center">Full Stack Web Developer; Game Developer and Designer; Writer and Musician</h2>
    <div class="sub-heading">
        <a href="https://www.github.com/nichow"><img id="git" src="/images/Github.svg" width="32" height="32"></a>
        <a href="https://www.linkedin.com/in/nicolas-garcia-4b0541140/"><img id="linked" src="/images/Linkedin.svg" width="32" height="32"></a>
        <a href="https://www.facebook.com/nichoww"><img id="facebook" src="/images/facebook.svg" width="32" height="32"></a>
        <a href="https://www.twitter.com/nich0w"><img id="twitter" src="/images/twitter.svg" width="32" height="32"></a>
        <a href="https://www.instagram.com/nichowisdead"><img id="insta" src="/images/instagram.svg" width="32" height="32"></a>
    </div>
</div>

<div id="main-container">
    <h1 style="text-align: center; font-weight: bold">Web Development</h1>
    <h2>
        From July 2017 to January 2018, I worked for NYUIT's student technology innovation team. <br>
        The team is a small coordinated team which is operated like a startup tech team. We used agile workflow tools <br>
        and developed apps to be used by NYU students, faculty and alumni. <br> <br>
        I spent the majority of my time working on the two following apps: <br>
        <ul>
            <li><a href="http://node-express-env.2xr7pru2hq.us-east-1.elasticbeanstalk.com/">NYU Occupancy</a>, for which I did much of the front end and back end work.</li>
            <li><a href="http://node-express-env.2xr7pru2hq.us-east-1.elasticbeanstalk.com/">NYU Print Status</a>, for which I did some minor front end and back end work.</li>
        </ul>
        Some notable things about these projects is that we used <a href="https://www.density.io/">density.io</a>, to track the current occupancy and capacity of various buildings in NYU. <br>
        We used Amazon Web Services for these projects, and I am familiar with the CLI and services entailed.
    </h2>

    <h1 style="text-align: center; font-weight: bold">Game Development</h1>
    <h2>
        Through the Game Center at NYU I've worked with Unity, and have made a simple game. I am currently working on more robust projects
        <a href="http://nichow.itch.io" style="text-align: center">My itch.io Page</a> <br>
        I have also been apart of teams who have designed tabletop games! Here are a couple examples:
        <ul>
            <li><a href="/documents/Descriptionary.pdf">Descriptionary!</a></li>
            <li><a href="/documents/goblins.pdf">Goblin Swinger Party</a></li>
        </ul>
    </h2>
</div>