<div id="side-container">
    <div class="summary">
        <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-8/16402738_957478937686151_5032586779471068982_o.jpg?oh=104911b7bc3cbad65452f6dc6a4c8071&oe=5A3FB46F" width="250" height="250" id="me">
        <h1>{{title}}</h1>
        <p style="text-align: center">Musician, Writer, Computer Scientist</p>
    </div>

        <nav class="side-menu">
            <ul style="list-style: none">
                <li><a class="tag" id="aboutMe" href="#">About Me</a></li>
                <li><a class="tag" id="aboutSite" href="#">About This Site</a></li>
                <li><a class="tag" id="exper" href="#">Experience</a></li>
                <li><a class="tag" id="skills" href="#">My Skills</a></li>
                <li><a class="tag" id="projs" href="#">My Projects</a></li>
                <li><a class="tag" id="folio" href="#">Writing Portfolio</a></li>
                <li><a class="tag" id="music" href="#">Music</a></li>
                <li><a class="tag" id="contact" href="#">Contact Me</a></li>
            </ul>
        </nav>
</div>

<div id="masthead">
    <h2 style="text-align: center">Full Stack Web Developer; Game Developer and Designer; Writer and Musician</h2>
    <p style="text-align: center">231 2nd Ave Apt 3, New York, NY 10003</p>
<div>

<div id="main-container">
    <h3>

    </h3>
    <h3>

    </h3>
</div>
