<div id="side-container">
    <div class="summary">
        <img src="/images/me.png" width="250" height="250" id="me">
        <h1>{{title}}</h1>
        <p style="text-align: center">Musician, Writer, Computer Scientist</p>
    </div>

        <nav class="side-menu">
            <ul style="list-style: none">
                <li><a class="tag" id="aboutMe" href="/">About Me</a></li>
                <li><a class="tag" id="aboutSite" href="/aboutsite">About This Site</a></li>
                <li><a class="tag" id="exper" href="/experience">Experience</a></li>
                <li><a class="tag" id="skills" href="/skills">My Skills</a></li>
                <li><a class="tag" id="folio" href="/writing">Writing Portfolio</a></li>
                <li><a class="tag" id="music" href="/music">Music</a></li>
                <li><a class="tag" id="contact" href="/contact">Contact Me</a></li>
            </ul>
        </nav>
</div>

<div id="masthead">
    <h2 style="text-align: center">Full Stack Web Developer; Game Developer and Designer; Writer and Musician</h2>
    <div class="sub-heading">
        <a href="https://www.github.com/nichow"><img id="git" src="/images/Github.svg" width="32" height="32"></a>
        <a href="https://www.linkedin.com/in/nicolas-garcia-4b0541140/"><img id="linked" src="/images/Linkedin.svg" width="32" height="32"></a>
        <a href="https://www.facebook.com/nichoww"><img id="facebook" src="/images/facebook.svg" width="32" height="32"></a>
        <a href="https://www.twitter.com/nich0w"><img id="twitter" src="/images/twitter.svg" width="32" height="32"></a>
        <a href="https://www.instagram.com/nichowisdead"><img id="insta" src="/images/instagram.svg" width="32" height="32"></a>
    </div>
</div>

<div id="main-container">
    <div id="aboutMeText">
        <h1>
            I am Nicolas (Nic) Howe. Computer and game enthusiast.
        </h1>
        <h2>
            Currently studying computer science at New York University
            through the Courant Institute of Mathematical Sciences.
            Additionally, I study game design and creative writing also
            through NYU.
        </h2>
        <h2>
            I've been in love with computers since I was a small child
            curiously searching the internet to figure out how they worked.
            I self-taught myself programming throughout high school and did
            work on rudimentary games in my spare time.
        </h2>
        <h2>
            Additionally, I've been writing short stories and poetry since
            elementary school, and have carried that through to university.
            Examples of my work can be found on this very site!
        </h2>
        <h2>
            I have been playing guitar for six years and bass for two years.
            I have released professionally recorded material with a band and
            am currently working on self-produced material.
        </h2>
        <h2>
            I am an experienced web developer and game developer. I have
            worked both by myself and with a team using agile workflow tools.
        </h2>
        <h2 style="text-align: center">
            Feel free to explore!
        </h2>
    </div>
