<div id="container">
    <div class="summary">
        <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-8/16402738_957478937686151_5032586779471068982_o.jpg?oh=104911b7bc3cbad65452f6dc6a4c8071&oe=5A3FB46F" width="250" height="250" id="me">
        <h1>{{title}}</h1>
        <p>Web Developer and Designer, Game Developer and Designer</p>
        <p>Musician, Writer, Computer Scientist</p>
    </div>

        <nav class="side-menu">
            <ul style="list-style: none">
                <li>About Me</li>
                <li>About This Site</li>
                <li>Experience</li>
                <li>My Skills</li>
                <li>My Projects</li>
                <li>Writing Portfolio</li>
                <li>Music</li>
            </ul>
        </nav>
</div>