<div id="side-container">
    <div class="summary">
        <img src="/images/me.png" width="250" height="250" id="me">
        <h1>{{title}}</h1>
        <p style="text-align: center">Musician, Writer, Computer Scientist</p>
    </div>

    <nav class="side-menu">
        <ul style="list-style: none">
            <li><a class="tag" id="aboutMe" href="/">About Me</a></li>
            <li><a class="tag" id="aboutSite" href="/aboutsite">About This Site</a></li>
            <li><a class="tag" id="exper" href="/experience">Experience</a></li>
            <li><a class="tag" id="skills" href="/skills">My Skills</a></li>
            <li><a class="tag" id="folio" href="/writing">Writing Portfolio</a></li>
            <li><a class="tag" id="music" href="/music">Music</a></li>
            <li><a class="tag" id="contact" href="/contact">Contact Me</a></li>
        </ul>
    </nav>
</div>

<div id="masthead">
    <h2 style="text-align: center">Full Stack Web Developer; Game Developer and Designer; Writer and Musician</h2>
    <div class="sub-heading">
        <a href="https://www.github.com/nichow"><img id="git" src="/images/Github.svg" width="32" height="32"></a>
        <a href="https://www.linkedin.com/in/nicolas-garcia-4b0541140/"><img id="linked" src="/images/Linkedin.svg" width="32" height="32"></a>
        <a href="https://www.facebook.com/nichoww"><img id="facebook" src="/images/Facebook.svg" width="32" height="32"></a>
        <a href="https://www.twitter.com/nich0w"><img id="twitter" src="/images/Twitter.svg" width="32" height="32"></a>
        <a href="https://www.instagram.com/nichowisdead"><img id="insta" src="/images/Instagram.svg" width="32" height="32"></a>
    </div>
</div>

<div id="main-container">
    <h1>Programming Languages</h1>
    <h2>I would consider myself proficient in the following languages:
    <ul>
        <li>C</li>
        <li>C++</li>
        <li>C# (and the general .NET framework)</li>
        <li>Python</li>
        <li>Java</li>
        <li>Javascript (including node.js, Angular 1.X, Ember.js, jQuery, react.js, and others)</li>
        <li>MySQL</li>
        <li>Mongo and other NoSQL database tools</li>
        <li>HTML and CSS3, including Handlebars</li>
    </ul>
    </h2>

    <h1>Other computing skills</h1>
    <h2>Outside of strictly programming languages, I am proficient in the Unity game engine, all common operating systems (namely Windows, OSX, and Ubuntu Linux) <br>
        I am experienced in the use of agile workflow tools such as Trello or YouTrack <br>

        I am fully competent in Microsoft Word, Excel, and PowerPoint</h2>

</div>