<div id="side-container">
    <div class="summary">
        <img src="/images/me.png" width="250" height="250" id="me">
        <h1>{{title}}</h1>
        <p style="text-align: center">Musician, Writer, Computer Scientist</p>
    </div>

    <nav class="side-menu">
        <ul style="list-style: none">
            <li><a class="tag" id="aboutMe" href="/">About Me</a></li>
            <li><a class="tag" id="aboutSite" href="/aboutsite">About This Site</a></li>
            <li><a class="tag" id="exper" href="/experience">Experience</a></li>
            <li><a class="tag" id="skills" href="/skills">My Skills</a></li>
            <li><a class="tag" id="folio" href="/writing">Writing Portfolio</a></li>
            <li><a class="tag" id="music" href="/music">Music</a></li>
            <li><a class="tag" id="contact" href="/contact">Contact Me</a></li>
        </ul>
    </nav>
</div>

<div id="masthead">
    <h2 style="text-align: center">Full Stack Web Developer; Game Developer and Designer; Writer and Musician</h2>
    <div class="sub-heading">
        <a href="https://www.github.com/nichow"><img id="git" src="/images/Github.svg" width="32" height="32"></a>
        <a href="https://www.linkedin.com/in/nicolas-garcia-4b0541140/"><img id="linked" src="/images/Linkedin.svg" width="32" height="32"></a>
        <a href="https://www.facebook.com/nichoww"><img id="facebook" src="/images/Facebook.svg" width="32" height="32"></a>
        <a href="https://www.twitter.com/nich0w"><img id="twitter" src="/images/Twitter.svg" width="32" height="32"></a>
        <a href="https://www.instagram.com/nichowisdead"><img id="insta" src="/images/Instagram.svg" width="32" height="32"></a>
    </div>
</div>

<div id="main-container">
    <h2>Much of my writing can be found on my <a href="http://derivativetrash.tumblr.com">Tumblr</a>. I would consider myself a fiction writer first and foremost; <br>
    however the tumblr blog is mostly focused on my poetry. It is all very stream of consciousness, and I rarely<br>
    think twice before posting something. I try not to take it too seriously, and just try to express myself the best I can. <br>

    Here are some more examples of my fiction writing: none of these are even close to complete, they're just small things that <br>
    I am working on:

    <ul>
        <li><a href="/documents/periphery.pdf">Periphery</a></li>
        <li><a href="/documents/chess.pdf">An Un-Named Story about a Man Who Likes Chess</a></li>
        <li><a href="/documents/kaela.pdf">An Un-Named Story about a Normal Girl in a Strange Land</a></li>
    </ul>

    I also occasionally attempt to write intelligently about games, here are some examples:

    <ul>
        <li><a href="/documents/catan.pdf">Settlers of Catan analysis</a></li>
        <li><a href="/documents/doom.pdf">DOOM (2016) analysis</a></li>
        <li><a href="/documents/dark souls.pdf">Dark Souls analysis</a></li>
    </ul>
    </h2>


</div>