body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container {
  width: 270px;
  height: 100%;
  float: left;
  margin: -3rem -3rem;
}

.summary {
  width: 250px;
  position: relative;
  display: block;
  padding: 10px;
}

.summary h1 {
  text-align: center;
}

.side-menu ul li {
  display: block;
  margin-left: -5rem;
  margin-right: auto;
  text-align: right;
  padding: 8px 20px 8px;
  border: 1px solid #dedfe0;
}

#me {
  margin-left: 3px;
  border-radius: 3px;
}